.leftFieldText {
    color: blue;
    text-align: center;
    font-size: 36px;
}
.rigthFieldText {
    font-size: 36px;
    color: blue;
    text-align: center;
}
.string {
    background-color: white;
    display: flex;
}
.square {
    background-color: blue;
    height: 30px;
    width: 30px;
    margin-left: 3px;
    margin-top: 3px;
}
.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.containerForUserField {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerForGame {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.ship4 {
    background-color: blue;
}
.ship3 {
    background-color: blue;
}
.ship2 {
    background-color: blue;
}
.ship1 {
    background-color: blue;
}
.test {
    background-color: black;
}
.buttonShip4 {
    width: 150px;
    height: 30px;
    margin-top: 35px;
    background-color: tomato;
}
.buttonShip3 {
    width: 100px;
    height: 30px;
    margin-top: 35px;
    background-color: green;
}
.buttonShip2 {
    width: 60px;
    height: 30px;
    margin-top: 35px;
    background-color: darkmagenta;
}
.buttonShip1 {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    background-color: gold;
}
.userShip4 {
    background-color: gold;
}
.userShip3 {
    background-color: gold;
}
.userShip2 {
    background-color: gold;
}
.userShip1 {
    background-color: gold;
}

.mouseOver4 {
    background-color: lightcoral ;
}
.mouseOver3 {
    background-color: greenyellow;
}
.mouseOver2 {
    background-color: violet;
}
.mouseOver1 {
    background-color: goldenrod;
}
.mouseOverBad4 {
    background-color: black ;
}
.mouseOverBad3 {
    background-color: black ;
}
.mouseOverBad2 {
    background-color: black ;
}
.mouseOverBad1 {
    background-color: black ;
}
.crackShip {
    background-color: brown;
}
.FailShot {
    background-color: skyblue;
}
@media (max-width: 744px) {
    .container {
    flex-direction: column ;
    }
}
.hover {
    background-color: cornflowerblue;
}